body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}
a { text-decoration: none; }
img { display: block; }

/* HEADER */
header {
  background-color: royalblue;  
}

header .inner {
  width: 1100px;
  height: 120px;
  margin: 0 auto; /* 좌우 값을 브라우저가 자동으로 계산 */
  background-color: orange;
  position: relative;
}

/* 요소의 길이가 명시되어야 가운데 정렬이 가능하다. */
header .logo {
  height: 75px;
  position: absolute; /* 부모요소 기준으로 배치 */
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu {

}
header .sub-menu ul.menu {
  display: flex;
  font-family: Arial, sans-serif;
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute; /* block display로 바뀐다. */
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
}
header .sub-menu .search {

}
header .sub-menu .search input {
  
}
header .sub-menu .search input .material-icons {
  
}
