@import "./sub", "./sub2";

$color: royalblue;
.container {
  ul {
    li{
      font: {
        weight: bold;
        size: 40px;
        family: sans-serif;
      };
      margin: {
        top: 10px;
        left: 20px;
      };
      padding: {
        top: 10px;
        bottom:30px;
        left:50px;
      }

      .name {
        color: royalblue;
      }
      .age {
        color: orange;
      }
    }  
  }
}

/* 1-9 재활용 */

@mixin center {
  display: flex;
  justify-content: center;  // 가로 가운데
  align-items:center;       // 세로 가운데
}

@mixin box($size: 100px, $color: tomato) {
  width: $size;
  height: $size;
  background-color: $color;
}

.box {
  @include box(200px);  
  @include center;

  .item {
    @include box($color: royalblue);
    @include center;
    
  }
}

/* 1-10 반복문 */
@for $i from 1 through 10 {
  .box:nth-child(#{$i}) {
    width: 100px * $i;
  }
}

/* 1-11 함수 */
@function ratio($size, $ratio) {
  @return $size * $ratio
}

.box-func {
  $width: 100px;
  width: $width;
  height: ratio($width, 1/2);
  @include center;
}

/* 1-12 색상 내장 함수 */
.box12 {
  $color: royalblue;
  width: 200px;
  height: 100px;
  margin: 20px;
  border-radius: 10px;
  background-color: $color;
  &.built-in {
    // background-color: mix($color, red);
    // background-color: lighten($color, 10%);
    // background-color: darken($color, 10%);
    // background-color: saturate($color, 40%); // 채도
    // background-color: grayscale($color);
    // background-color: invert($color); // 색상 반전
    background-color: rgba($color, .5); // 투명도
  }
  &:hover {
    background-color: darken($color, 10%);
  }
}

/* 1-15 데이터 종류 */
$number: 1;
$string: bold;
$color: red;
$boolean: true;
$null: null;
$list: orange, royalblue, yellow;
$map: (
  o: orange,
  r: royalblue,
  y: yellow
);

/* 1-16 반복문 @each */

@each $c in $list {
  .box {
    color: $c;
  }
}

@each $k, $v in $map {
  .box-#{$k} {
    color: $v;
  }
}

// .box-o {
//   color: orange;
// }
// .box-r {
//   color: royalblue;
// }
// .box-y {
//   color: yellow;
// }

/* 1-17 재활용 @content */
@mixin left-top {
  position: absolute;
  top: 0;
  left: 0;
  @content;   // 재활용
}

.container17 {
  background-color: purple;
  width: 100px;
  height: 100px;
  @include left-top;
}

.box18 {
  background-color: yellow;
  width: 200px;
  height: 300px;
  @include left-top {
    bottom: 0;
    right: 0;
    margin: auto;
  }
}